@model IEnumerable<ModelLayer.DTOs.HesapDTO>
@{
    ViewBag.Title = "Hesap";
    Layout = "~/Views/Shared/_MusteriLayout.cshtml";
}
<div class="page-wrapper">
    <div class="page-container">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">Hesaplarım</h2>
                                <button class="au-btn au-btn-icon au-btn--blue">
                                    <i class="zmdi zmdi-plus"></i>YENİ HESAP AÇ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-25">
                        @foreach (var item in Model)
                        {
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-attachment-alt"></i>
                                                <div class="text">
                                                    <h3>@Html.DisplayFor(model => item.musteriNo)-@Html.DisplayFor(model => item.ekNo)</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            @Html.DisplayFor(model => item.bakiye)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

