
@{
    ViewBag.Title = "HesapDetay";
    Layout = "~/Views/Shared/_MusteriLayout.cshtml";
}

<div class="page-wrapper">
    <div class="page-container">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title mb-3">Hesap Detayları</strong>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <a>Hesap Numarası:</a>
                                            <a style="font-weight:bold; font-size:21px">100000-1001</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a>Ad Soyad:</a>
                                            <a style="font-weight:bold; font-size:20px">Özgür Çakıcı</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a>Açılış Platfromu:</a>
                                            <a style="font-weight:bold; font-size:21px">WEB</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a>Hesap Açılış Tarihi:</a>
                                            <a style="font-weight:bold; font-size:21px">18.10.2019 15:48</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a>Kullanılabilir Bakiye:</a>
                                            <a style="font-weight:bold; font-size:21px">1000 TL</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title mb-3">Hesap İşlemleri</strong>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <button type="button" class="btn btn-outline-danger btn-lg btn-block">Para Çekme</button>
                                        </li>
                                        <li class="list-group-item">
                                            <button type="button" class="btn btn-outline-success btn-lg btn-block">Para Yatırma</button>
                                        </li>
                                        <li class="list-group-item">
                                            <button type="button" class="btn btn-outline-primary btn-lg btn-block">Hesap Hareketleri</button>
                                        </li>
                                        <li class="list-group-item">
                                            <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Hesap Sil</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="table-responsive table--no-card m-b-40">
                                <table class="table table-borderless table-striped table-earning">
                                    <thead>
                                        <tr>
                                            <th>İşlem Tarihi</th>
                                            <th>İşlem Türü</th>
                                            <th class="text-right">Alıcı Hesap</th>
                                            <th class="text-right">Gönderen Hesap</th>
                                            <th class="text-right">İşlem Tutarı</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2018-09-29 05:57</td>
                                            <td>100398</td>
                                            <td class="text-right">$999.00</td>
                                            <td class="text-right">$999.00</td>
                                            <td class="text-right">$999.00</td>
                                        </tr>
                                        <tr>
                                            <td>2018-09-28 01:22</td>
                                            <td>100397</td>
                                            <td class="text-right">$756.00</td>
                                            <td class="text-right">$756.00</td>
                                            <td class="text-right">$756.00</td>
                                        </tr>
                                        <tr>
                                            <td>2018-09-27 02:12</td>
                                            <td>100396</td>
                                            <td class="text-right">$22.00</td>
                                            <td class="text-right">$44.00</td>
                                            <td class="text-right">$44.00</td>
                                        </tr>
                                        <tr>
                                            <td>2018-09-26 23:06</td>
                                            <td>100395</td>
                                            <td class="text-right">$1199.00</td>
                                            <td class="text-right">$1199.00</td>
                                            <td class="text-right">$1199.00</td>
                                        </tr>
                                        <tr>
                                            <td>2018-09-25 19:03</td>
                                            <td>100393</td>
                                            <td class="text-right">$10.00</td>
                                            <td class="text-right">$30.00</td>
                                            <td class="text-right">$30.00</td>
                                        </tr>
                                        <tr>
                                            <td>2018-09-29 05:57</td>
                                            <td>100392</td>
                                            <td class="text-right">$199.00</td>
                                            <td class="text-right">$1494.00</td>
                                            <td class="text-right">$1494.00</td>
                                        </tr>
                                        <tr>
                                            <td>2018-09-24 19:10</td>
                                            <td>100391</td>
                                            <td class="text-right">$699.00</td>
                                            <td class="text-right">$699.00</td>
                                            <td class="text-right">$699.00</td>
                                        </tr>
                                        <tr>
                                            <td>2018-09-22 00:43</td>
                                            <td>100393</td>
                                            <td class="text-right">$10.00</td>
                                            <td class="text-right">$30.00</td>
                                            <td class="text-right">$30.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
