
@{
    ViewBag.Title = "HavaleVirmanOnayEkrani";
    Layout = "~/Views/Shared/_MusteriLayout.cshtml";
}

<div class="page-wrapper">
    <div class="page-container">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-tag"></i>
                                    <strong class="card-title pl-2">İŞLEM DETAYLARI</strong>
                                </div>
                                <div class="card-body">
                                    <div class="mx-auto d-block">
                                        <h4 style="color:#c5002f" class="text-sm-center mt-2 mb-1">GÖNDEREN HESAP</h4>
                                        <div class="location text-sm-center">Özgür Çakıcı</div>
                                        <div class="location text-sm-center">100000 - 1001</div>
                                        <hr>
                                        <h4 style="color:#c5002f" class="text-sm-center mt-2 mb-1">ALICI HESAP</h4>
                                        <div class="location text-sm-center">Süleyman Doğan</div>
                                        <div class="location text-sm-center">100000 - 1001</div>
                                        <hr>
                                        <h4 style="color:#c5002f" class="text-sm-center mt-2 mb-1">İŞLEM TUTARI</h4>
                                        <div class="location text-sm-center">1000 TL</div><hr>
                                        <h4 style="color:#c5002f" class="text-sm-center mt-2 mb-1">AÇIKLAMA</h4>
                                        <input id="cc-pament" name="cc-payment" type="text" class="form-control" aria-required="true" aria-invalid="false" value="Ben okula getmeye mi?">
                                    </div>
                                    <hr>
                                    <button id="payment-button" type="submit" class="btn btn-lg btn-secondary btn-block">
                                        <span id="payment-button-amount">İŞLEMİ ONAYLA</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

